


body{
    
    background: url(imagenesReto4/fondobotonn333333.gif);
    width: 100%;
    height: 88vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    
}
.elEfecto{
    display: flex;
    justify-content: center;
    
}
.sinEfecto{
    display: none;
}
header{
    display: flex;
    
    justify-content: center;
}

.logo{
        display: flex;
        
        
        width: 200px;
        height: 200px;
}
.contenJugadores{
    display: flex;
    flex-direction: column;

}



.magobola{
    display: flex;
    justify-content: center;
    width: 70vh;
    height: 100vh;
}
.jugador1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    color: #00608f;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}

.pj1,h3{
    display: block;
    background: transparent;
    border: none;
    
    color:#6ba0bf;
}


.jugador2{
    color:#ff4081;
    
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.pj2,h3{
    display: block;
    background: transparent;
    border: none;
    color: #d4a1b5;
}

::placeholder{
    color: #ffffff;
    text-align: center;
}
.mezclador{
    
    margin-top: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    background: transparent;
    color: #f8f8f5;
} 
.but:hover{
    
    border: solid 3px #ff0000;
}


.combo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:right;
    }
    
.img-carta{
    width: 80%;
    padding-left: 85px;
    padding-top: 50px;
    padding-bottom: 40px;
}





.descriPersonaje{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
color: #ffffff;
margin-top: 50px;
text-align: center;
margin-left: 15px;
margin-right: 15px;

}

.nombreCarta{
text-align: center;
margin-top: 30px;
color: #46aeae;
margin-left: 15px;

}


.botonesFinal{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnVolver{
    border-radius: 20px;
    background: transparent;
    color: white;
    margin-right: 50px;
}
.btnResultados{
    border-radius: 20px;
    background: transparent;
    color: white;
    
    margin-left: 60px;
}
.colorpj1{
    color: #6f66a6;
}
h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.Especial{
color: #9469a2;
}
.Mitica{
    color:#ffd700;
}

.pantalla4{
    display: none;
}
.partidasPasadas{
    display: none;
}
label{
    display: inline-block;
    color: #ff0011;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}