body{
    background-color: #d19a9a;
}



.flex{ display: flex;}






.barra{
    
    justify-content: center;
    height: 5vh;
    justify-content:space-between; 
}
.iconos  {
    height: 35px;
}
h1{
    margin-top: 0px;
}

.planilla1{
        height: 60vh;
        display: flex;
        justify-content:center;
        background-color: #515eec9e;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        width: 250px;
        
        }


form{
    display: flex;
    flex-direction: column;
    color:black;
}


.contenido{
    height: 69vh;
    justify-content: center;
    align-items: center;
    border-width: initial;
    
    
    border-image: initial
    
}
.fondo {
height: 300px;
width: 250px;
align-items: center;
}


button{
    border: solid 0px;
    }
.btn{
    
    background-color:#d19a9a;
    
    display: flex;
    justify-content: end;
    align-items: center;
}

.imagen{
    display: flex;
    align-items: end; 
    height: 50px;
    width: 50px;
    align-items: center;
    
}

.imagen:hover{
    border-radius: 40px;
    background-color: #fcfeff;
    
}



.ficha{
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    background-color: #f4f7f9;

}

.img-tarea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: 70px;
    padding: 5px;
}


.ficha{
    display: flex;
    height:80px;
    width: 400px;
    background-color: #515eec9e;
}

.texto{ 
    display: flex;
    background-color:#515eec9e;
    height: 100%;
    width: 100%;
}

.soylu, .soyli, .soyh {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: white;
}
h2{
    display: flex;
    align-items: center;
    


}
h4{
display: flex;


}

h6{
    display: flex;
    align-items: center;
}




.desactivar{
    display: none;

}
.activar{
    display: flex;
}

.plantilla2{

height: 55vh;
color: #8d6e6e;
border: 1px solid #bdbdbd;
border-radius: 5px;
padding: 20px;
margin-top:-10px;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
width: 250px;
background-color: #d19a9a;

}

input{
    border-radius: 10px;
}
.opciones{
    border-radius: 10px;
}

.botin{
    
    margin-top: 30px;
    padding: 9px;
    border-radius: 8px;
    border:4px solid #515eec9e;
}
.botin:hover{
background-color: wheat;
}

/*magia del footer*/

.piedepagina{
    justify-content: center;
}
/*magia del footer*/